

    {{#each articles}}
        <div class="card text-white bg-dark ml-2 mr-2 mt-2 mb-2 float-left" style="width: 18rem; height:33rem; display: inline-block">
            <img class="card-img-top" src="{{imgUrl}}" alt="Image" style="height:225px">
            <div class="card-body border-secondary">
                <h6 class="card-title">{{headline}}</h6>
                <div class="card-text">{{summary}}</div>
                <a href="{{link}}" target="_blank">Read Article on Arstechnica</a>
                <div class="card-footer bg-transparent border-secondary mt-2 pb-2" >
                    <textarea class="form-control" id="noteBody" rows="2" type="text" style="min-width: 100%" placeholder="Leave a note"></textarea>    
                    <button type="button" id="noteBtn" style="min-width: 100%" data-id="{{_id}}" class="btn btn-primary mt-3 mb-2">Save Note</button>
                </div>
            </div>
           
        </div>
    {{/each}}


